extends layout

block content
  div(class="content")
    div(class="quisomTitle")
      h1 Sobre Nosaltres
      
    div(class="quisomText")
      p MADARO promou l'intercanvi de serveis i coneixements usant el temps com a forma de pagament, no importa quin sigui el servei intercanviat. L'objectiu final d'aquests intercanvis és crear una xarxa d'ajuda mútua i contribuir a cobrir certes necessitats de les persones usuàries que formen el Banc de Temps de MADARO. El Banc de Temps és obert a tothom i pretén millorar la qualitat de vida, crear un espai d'intercanvi de temps, on es contribueixi a afavorir el canvi d'estereotips tradicionals. Aquest projecte pretén fomentar les relacions socials, trencant l'aïllament i la solitud de la vida urbana i alhora oferir oportunitats per resoldre necessitats de la vida quotidiana en actuacions més igualitàries. 

    div(class="quisomButton")
      a(href="/aboutus/cant") 
        button Cant
      a(href="/aboutus/cuina") 
        button Cuina
      a(href="/aboutus/tenis") 
        button Tenis