extends layout
block content 
    div(class="wrapper")
        div(class="typing-demo")
            p Benvinguts al banc del Temps de MADARO!
    div(id="iniciImage")
        div(class="dark")
        

    





